# Raw datasets
Data/

# Generated outputs
Normalized_Features_10s/
Normalized_Features_10s_With_Label/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
